@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html{
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto;
}

*{
    font-family: 'Press Start 2P';
}

body{
    background-color: #222;
}

h1{
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin-top: 80px;
    text-align: center;  
}

p {
    font-size: 21px;
    color: rgba(245, 236, 236, 0.918);
    margin-top: 60px;
    text-align: center;
}

.button {
    background-color: rgba(251, 247, 247, 0.918);
    font-weight: bold;
    align-content: center;
    font-size: 20px;
    border-radius: 20px;
    color: rgba(37, 34, 36, 0.884);
    margin: 0px 50px;
    padding: 20px 25px;
    border: solid 2px rgba(59, 45, 53, 0.884);
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

.button:hover {
    background-color: rgb(231, 205, 226);
}

.selected {
    box-shadow: 0 0 10px 5px rgba(83, 23, 54, 0.884);
}

.centering {
    text-align: center;
    width: 100%;
}

input[type="number"],select {
    outline: none;
    width: 15%;
    padding: 25px;
    margin: 9px 0;
    border: 1px solid #ccc;
    border-radius: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 1em;
    font-size: 20px;
    color: rgba(90, 43, 67, 0.884);
}

::placeholder {
    color: rgb(165, 163, 163);
    opacity: 1;
    font-size: 12px;
}

.btn {
    width: 10%;
    align-content: center;
    
    background-color: rgba(85, 33, 60, 0.884);
    color: white;
    padding: 14px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border: none;
    border-radius: 23px;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.472);
}

.btn:hover {
    background-color: rgba(71, 26, 49, 0.884);
}

.right {
    width: 52rem;
    font-size: 2rem;
}

a{
    text-decoration: none;
}